# This is Git's per-user configuration file.
[user]
	name = David Rosenberg
	email = dmr@davidrosenberg.me
# Please adapt and uncomment the following lines:
#	name = David Rosenbnerg
#	email = dmr@Christinas-MacBook-Air-2.local
[merge]
	tool = lvimdiff
[init]
	defaultBranch = master
[pull]
	ff = only
[receive]
	denyCurrentBranch = warn
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
